# 复制为 env/local.<yourname>.env 后修改成本机真实路径，再执行：
# source env/local.<yourname>.env

export RUN_ID=day23-local-001
export ARCH=arm64
export CROSS_COMPILE=aarch64-linux-gnu-

export KERNEL_SRC_ROOT=/abs/path/to/kernel-src/linux-5.15.10/src
export KDIR=/abs/path/to/kernel-src/linux-5.15.10/build/arm64
export KERNEL_IMAGE=/abs/path/to/kernel-src/linux-5.15.10/build/arm64/arch/arm64/boot/Image
export KERNEL_CONFIG_PATH=/abs/path/to/kernel-src/linux-5.15.10/build/arm64/.config
export BUSYBOX_BIN=/abs/path/to/busybox-1.36.1/build/arm64/busybox

export PCIUTILS_SRC_DIR=/abs/path/to/day23/third_party/pciutils
export GUEST_LSPCI_BIN=/abs/path/to/day23/third_party/pciutils/lspci
